/dash
/dashh
/dashhh
try.py
dash/
__pycache__/
*.env
*.venv
ztry.py
urgentdata.py
uploadnonecode.py
uploadall.py
upload_actualdata.py
try.py
style.css
crud_opration.py
TheStream/__pycache__/
fastApiBack/__pycache__/

new_env/
.vscode/

fortestupload.py
fortestuploadcon.py
upload_employe_data.py
kiyya_target.py

upload_arrears.py
upload_collection1.py

recommendations/


#Ignore vscode AI rules
.github\copilot-instructions.md
