matplotlib                  3.8.3
mysql-connector-python      8.3.0
numpy                       1.26.4
pandas                      2.2.1
pip                         24.0
plotly                      5.20.0
streamlit                   1.32.2
streamlit-authenticator     0.3.2
streamlit-autorefresh       1.0.1
